@media(max-width : 980px){
    .bg-img-recipe-page{
        width: 90%;
        margin: 2%;
    }
}

/* @media(min-width : 980px){
    .bg-img-recipe-page{
        width: 90%; 
        margin: 2% 5%;
    }
} */