.container{
    width: 100%;
    height: 400px;
    background-color: aqua;
}
.imagechanger{
    width:100px;
    padding:20px;
    background-color: red;
}
.button-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Image-contianer{
    width:100%;
    height: 90%;
}